@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Open+Sans&display=swap');


/* Colors */
:root {
    --prussian-blue: #00384D; /*Header and accent color of Light-mode*/
    --sky-blue: #74C7D3; /* Header and accent color of Dark-mode */
    --white: #FFFFFF; /*Light-mode background and Dark-mode text color*/
    --jet: #333333; /*Dark-mode background and Light-mode text color*/
    --sunglow: #FECB2E; /* Accent color of both modes */
}

/* Fonts */
h1, h2, h3, h4, h5, h6 {
    font-family: Lalezar;
    color: var(--jet);
}

h2
label, span, button {
    font-family: Lalezar;
    font-weight: lighter;
    color: var(--jet);
    font-size: 18px;
}

p, li, a {
    font-family: 'Open Sans';
    color: var(--jet);
    font-size: 16px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

/* Body */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    cursor: default;

    margin: 0;

    transition: background-color 0.3s, color 0.3s;
}


/* Header */
header {
    height: 150px;
    width: 100%;


    background: rgba(0, 0, 0, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);

    z-index: 100;
    position: fixed;
    top: 0;

    transition: height 0.3s, padding 0.3s;

    display: flex;
    align-items: center;

    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
}

.shrink {
    height: 50px;
    transition: height 0.3s;
}

.shrink .dark-mode-toggle {
    height: 90%;
}

header span, a {
    font-size: 32px;
    color: var(--jet);
    text-decoration: none;
    margin: 0 5px;
    font-family: Lalezar;
    font-weight: lighter;
}

header a:hover {
    color: var(--sky-blue);
}

header img {
    height: 60%;
    padding: 30px;
}

/* Background */
.background {
    width: 100%;
    height: 30%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: 0.5;
}

/* Main */
.content {
    width: 60%;
    margin-top: 150px;
    margin-bottom: 50px;
}

/* Heading of the page */
.heading {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.heading img {
    max-width: 300px;
    min-width: 100px;

    border-radius: 15%;
}

@media screen and (max-width: 1000px) {
    .heading {
        flex-direction: column-reverse;
    }

}

/* Contacts */
.contact {
    display: inline-block;
    vertical-align: top;
}

/* Info about lecturer */
.info p {
    margin-top: 0;
    margin-bottom: 8px;
}

/*Tags*/
.tag {
    all: unset;
    cursor: pointer;

    font-family: Open sans;
    font-weight: bold;

    display: inline-block;
    border-radius: 10px;

    background-color: var(--sunglow);
    color: var(--jet);

    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#tags {
    margin: -25px 0 50px 0;
}

.dark-mode .tag {
    color: var(--jet);
}

/* Dark-mode */
.dark-mode {
    background-color: var(--jet);
}

.dark-mode p,
.dark-mode a,
.dark-mode li,
.dark-mode span,
.dark-mode label,
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6,
.dark-mode button {
    color: var(--white);
}


.dark-mode-toggle {
    all: unset;
    cursor: pointer;
    height: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 20px;
    margin-left: auto;
}

.dark-mode-toggle img {
    margin: 0;
    padding: 0;
}

.dark-mode-toggle p {
    margin: 0;
}

.dark-mode-toggle a {
    font-family: Lalezar;
}
